@page "/DoOrder"
@using Microsoft.AspNetCore.Http
@using POKEMONSHOP.Data
@using POKEMONLIBRARY.Models
@using POKEMONSHOP.Extensions
@using System.ComponentModel.DataAnnotations

@inject IHttpContextAccessor httpContextAccessor
@inherits CurrentAppUser

<h2>
    Заполните форму для заказа покемона
</h2>
@{
    string label_Email = IId_Extension.GetPropertyAttributeValue<Customer, string, DisplayAttribute, string>(_ => _.Email, _ => _.Name) ?? string.Empty;
    string label_Phone = IId_Extension.GetPropertyAttributeValue<Customer, string, DisplayAttribute, string>(_ => _.PhoneNumber, _ => _.Name) ?? string.Empty;
    string label_Name = IId_Extension.GetPropertyAttributeValue<Customer, string, DisplayAttribute, string>(_ => _.Name, _ => _.Name) ?? string.Empty;


}

@*Поле с эл.почтой*@

<div class="Add_div">
    <div class="Add_div_title">
        Укажите @label_Email
    </div>
    <div>
        <input type="email" @bind="this.Customer.Email" @bind:event="oninput" />
    </div>
</div>

@code {
    private Customer Customer { get; set; }
    private Order Order { get; set; }

    private string EMail { get; set; }
    private string Name { get; set; }
    private string Phone { get; set; }

    // Истина, если пользователь авторихован
    private bool isAuthorezed = false;
    private bool IsAuthorezed
    {
        get
        {
            if (string.IsNullOrEmpty(this.AppUser))
            {
                this.isAuthorezed = false;
            }
            else
            {
                this.isAuthorezed = true;
            }
            return this.isAuthorezed;
        }
    }

    /// <summary>
    /// Первичная инициализация членов класса текущего компонента
    /// </summary>
    protected override void OnInitialized()
    {
        this.SetEmptyItemsOfComponent();
    }

    private void SetEmptyItemsOfComponent()
    {

    }
}
