@page "/Line"
@page "/Line/{StatusMessage}"
@page "/Line/{appUser}/{number}"
@using POKEMONSHOP.Contracts
@using Microsoft.AspNetCore.Http
@using POKEMONSHOP.Data
@using POKEMONLIBRARY.Models
@using POKEMONLIBRARY.Contracts
@using POKEMONSHOP.Extensions
@using System.ComponentModel.DataAnnotations

@inject IPokemonService service

<h5>
    @this.StatusMessage
</h5>
<h3>
    Покупатели покемонов и их заказы
</h3>
<div class="adapt_table3">
    <table>
        <thead>
            <tr>
                <th>
                    № п/п
                </th>
                <th>
                    Дата и время заказа
                </th>
                <th>
                    Имя покупателя
                </th>
            </tr>
        </thead>
        <tbody>
            @if (this.Customers != null && this.Customers?.Count > 0)
            {
                int i = 0;
                foreach (var customer in this.Customers)
                {
                    string email = customer.Email ?? string.Empty;
                    var orders = this.GetOrdersSomeCustomer(customer.Id) ?? new List<Order>();
                    string labelnum = $"Всего покупатель {email} купил {orders?.Count ?? 0} покемона";
                    <tr>
                        <th colspan="3">
                            @email
                        </th>
                    </tr>
                    @if (orders?.Count > 0)
                    {
                        foreach (var order in orders)
                        {
                            i++;
                            string date = order?.DateOrder.ToString();
                            string name = order?.Name ?? string.Empty;
                            <tr>
                                <td>
                                    @i
                                </td>
                                <td>
                                    @date
                                </td>
                                <td>
                                    @name
                                </td>
                            </tr>
                        }
                    }
                    <tr>
                        <th colspan="3">
                            @labelnum
                        </th>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">
                        В системе нет ни одного зарегистрированного заказа
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public string AppUser { get; set; }

    [Parameter]
    public string Number { get; set; }

    private List<Customer> Customers { get; set; }

    // Статусное сообщение
    [Parameter]
    public string StatusMessage { get; set; }

    private void InitializeCollections()
    {
        this.Customers = this.service?.GetAllCustomers();
    }

    /// <summary>
    /// Метод для получения всех заказов пользователя
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private List<Order> GetOrdersSomeCustomer(int id) => this.service?.GetAllOrdersSomeCustomer(id) ?? new List<Order>();

    protected override void OnInitialized()
    {
        this.InitializeCollections();

        if (string.IsNullOrEmpty(this.StatusMessage) && !string.IsNullOrEmpty(this.Number))
        {
            this.StatusMessage = $"Поздравляем с успешным заказом покемона!" +
                    $" Пользователь {this.AppUser ?? string.Empty} уже {this.Number} раз купил покемона! " +
                    $"На эл.почту {this.AppUser ?? string.Empty} было выслано подтверждение и номер заказа!";
        }
    }
}
