<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Привет, @context.User.Identity.Name!</a>
        <a href="Identity/Account/Logout">Выход</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Регистрация</a>
        <a href="Identity/Account/Login">Вход</a>
    </NotAuthorized>
</AuthorizeView>
