@page "/"
@using POKEMONSHOP.Data
@inherits CurrentAppUser

<h1>
    Добро пожаловать в магазин покемонов @this.AppUser !
</h1>

@code{
    protected override void OnInitialized()
    {
        this.GetCurrentUser();
    }
}

